In [1]:
import pandas as pd
import numpy as np

In [29]:
df=pd.read_excel("Book2.xlsx")

In [35]:
df

     post/region  northest  southest  midwest  west
0        finance        24        10        8    14
1  manufacturing        30         6       22    12
2  communication        28        18       12    16

In [30]:
df.columns

Index(['post/region', 'northest', 'southest', 'midwest', 'west'], dtype='object')

In [31]:
num_column=[]
for i in range(df.shape[1]):
    if df[df.columns[i]].dtypes!='O':
        num_column.append(df.columns[i])
        
        
num_column

['northest', 'southest', 'midwest', 'west']

In [39]:
sum(df.loc[0,num_column])

56

In [42]:
list1=[]
for i in range(df.shape[0]):
    list1.append(sum(df.loc[i,num_column]))
df['total']=list1
df

     post/region  northest  southest  midwest  west  total
0        finance        24        10        8    14     56
1  manufacturing        30         6       22    12     70
2  communication        28        18       12    16     74

In [52]:
dict1={df.columns[0]:'total'}
for i in range(1,df.shape[1]):
    dict1[df.columns[i]]=df[df.columns[i]].sum()
    
dict1

{'post/region': 'total',
 'northest': 328.0,
 'southest': 136.0,
 'midwest': 168.0,
 'west': 168.0,
 'total': 400.0}

In [48]:
df = df.append(dict1, ignore_index = True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_3304\1851081727.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(dict1, ignore_index = True)

In [49]:
df

     post/region  northest  southest  midwest  west  total
0        finance      24.0      10.0      8.0  14.0   56.0
1  manufacturing      30.0       6.0     22.0  12.0   70.0
2  communication      28.0      18.0     12.0  16.0   74.0
3            NaN      82.0      34.0     42.0  42.0    NaN
4            NaN     164.0      68.0     84.0  84.0  200.0