# 1. Sum of List: 
 Write a Python function to calculate the sum of all elements in a given list.

In [2]:
list=[10,12,23,45,4,5]
sum(list)

99

# 2. List Manipulation: 
 Create a function that takes a list and returns a new list with only the even elements.

In [5]:
list=[10,12,23,45,4,5]
new_list=[]

for i in list:
    if i%2==0:
        new_list.append(i)
        
new_list

[10, 12, 4]

# 3. List Reversal: 
 Write a program to reverse a list in-place (without using built-in functions).

In [10]:
list=[10,12,23,45,4,5]
new_list=[]

for i in range(len(list)-1,-1,-1):
    new_list.append(list[i])
    
new_list

[5, 4, 45, 23, 12, 10]

# 4. List Comprehension: 
 Use list comprehension to create a new list that contains squares of all elements in the given 
list.

In [2]:
list=[10,12,23,45,4,5]
new_list=[ value**2 for value in list]

In [3]:
new_list

[100, 144, 529, 2025, 16, 25]

# 5.	List Filtering:
Implement a function to filter out elements from a list that are greater than a specified value.

In [4]:
list=[45,78,12,45,78,96,3,25,78,12,74]
x=int(input("pls enter a value"))
new_list=[]
for i in list:
    if i>x:
        new_list.append(i)
        
print(new_list)

pls enter a value45
[78, 78, 96, 78, 74]

# 6.	List Intersection:
Write a function that returns the common elements between two lists.

In [6]:
list1=[45,78,12,45,78,96,3,25,78,12,74]
list2=[10,12,23,45,4,5,96,78]
common_list=[]
for i in list1:
    if i in list2:
        common_list.append(i)
        
set1=set(common_list)
set1

{12, 45, 78, 96}

# 7.	Palindrome Check:
Implement a function to check if a given list is a palindrome.

In [10]:
def palindrome_check(x):
    if x[::]==x[::-1]:
        print("Palindrome")
    else:
        print("not a Palindrome")

In [11]:
palindrome_check('nan')

Palindrome

# 8.	List Rotation:
Rotate a list to the right by k steps. For example, `[1, 2, 3, 4, 5]` rotated by 2 becomes `[4, 5, 1, 2, 3]`.

In [21]:
list1=[1, 2, 3, 4, 5]
k=2
new_list=[]
for i in range(-k,0):
    new_list.append(list1[i])
    
for i in range(len(list1)-k):
    new_list.append(list1[i])
    
new_list

-2
-1

[4, 5, 1, 2, 3]

# 9.	Nested Lists:
Write a program to flatten a nested list.

In [23]:
flatten_list=[[45,78,96,3,25],[12,56,45,7,4],[23,56,52,51,75,89],[55,11,65,85,12,56]]
new_list=[]

for i in flatten_list:
    new_list.extend(i)
    
new_list

[45,
 78,
 96,
 3,
 25,
 12,
 56,
 45,
 7,
 4,
 23,
 56,
 52,
 51,
 75,
 89,
 55,
 11,
 65,
 85,
 12,
 56]

# 10.	Loop Patterns:
Print the following pattern using loops:
*
**
***
****

In [26]:
n=4
for i in range(1,n+1):
    print("*"*i)

*
**
***
****

# 11.	Factorial Calculation:
Write a function to calculate the factorial of a given number using a loop.

In [27]:
num=5
fact=1
for i in range(1,num+1):
    fact=fact*i
    
print(fact)

120

# 12.	Fibonacci Sequence:
Generate the Fibonacci sequence up to a specified number using a loop.

In [28]:
num=7
a=0
b=1
for i in range(7):
    sum=a+b
    print(sum)
    a=b
    b=sum

1
2
3
5
8
13
21

# 13.	Prime Numbers:
Write a program to find all prime numbers up to a given limit.

In [29]:
limit=100
for i in range(2,100):
    m=0
    for j in range(1,i):
        if i%j==0:
            m=m+1
            if m==2:
        
                break

4
6
8
9
10
12
14
15
16
18
20
21
22
24
25
26
27
28
30
32
33
34
35
36
38
39
40
42
44
45
46
48
49
50
51
52
54
55
56
57
58
60
62
63
64
65
66
68
69
70
72
74
75
76
77
78
80
81
82
84
85
86
87
88
90
91
92
93
94
95
96
98
99

# 14.	List Concatenation:
Concatenate two lists without using the `+` operator.

In [4]:
list1=[12,45,52,3,6,9,8]
list2=[11,22,33,44,55,66,77,88]

list1.extend(list2)
list1

[12, 45, 52, 3, 6, 9, 8, 11, 22, 33, 44, 55, 66, 77, 88]

# 15. List Uniqueness:
Write a function to remove duplicate elements from a list.

In [6]:
def unique_element(l):
    new_list=[]
    for i in l:
        if i not in new_list:
            new_list.append(i)
            
    print(new_list)

In [7]:
list=[1,1,2,5,4,2,5,6,3,2,5,8,4,5,1,2,3,5,4,1,2]
unique_element(list)

[1, 2, 5, 4, 6, 3, 8]

# 16. List Slicing:
Extract even-indexed elements from a list using list slicing

In [8]:
list=[1,2,3,4,5,6,7,8,9,10,11,12,13,14]
list[::2]

[1, 3, 5, 7, 9, 11, 13]

# 17. List Sorting:
Sort a list of strings based on the length of each string.

In [9]:
list1=["my", "name", "is", "koushik","biswas"]
new_list=[]

for i in range(100):
    for j in list1:
        if len(j)==i:
            new_list.append(j)
            if len(new_list)==len(list1):
                break
new_list

['my', 'is', 'name', 'biswas', 'koushik']

# 18. Matrix Multiplication:
Implement matrix multiplication using nested loops.

In [ ]:
# Example 3x3 matrix
A = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

# Example 3x3 matrix
B = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]
c=[[],[],[]]

# 19. List Frequency:
Write a function that returns the frequency of each element in a list

In [10]:
def freq_of_element(list1):
    dict={}
    set1 = {item for item in list1}
    list2=[elem for elem in set1]
    for i in list2:
        n=0
        for j in list1:
            if i==j:
                n+=1
        dict[i]=n
        
    print(dict)

In [11]:
list=[1,1,2,5,4,2,5,6,3,2,5,8,4,5,1,2,3,5,4,1,2]
freq_of_element(list)

{1: 4, 2: 5, 3: 2, 4: 3, 5: 5, 6: 1, 8: 1}

# 20. List Median:
Calculate the median of a list of numbers.

In [12]:
import numpy as np
list1=[45,56,12,78,56,23,45,69,85]
np.median(list1)

56.0